@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rich-black: #050515;
  --flame: #ce5c36;
  --sunset: #efc88a;
  --vanilla: #f4e4b3;
  --platinum: #d4d6d8;
  --pastel-blue: #3685B5;
  --pastel-pink: #AF42AE;
  --pastel-yellow: #ECA400;
  --green: #519872;
  --chilli-red: #E9190F;
}

*{
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.glass-effect {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 2rem;
  }
  
  .text-bounce {
    animation: bounce 2s infinite;
    animation-timing-function: ease-in-out;
  }


@layer utilities {
  .shadow-gradient {
    box-shadow: 20px 40px 60px -12px rgba(129, 55, 214, 0.25), 0 35px 60px -15px rgba(84, 84, 239, 0.3);
  }
}

  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .font-tech {
    font-family: 'Space Mono', monospace; 
  }

  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }

  .font-monts {
    font-family: 'Montserrat', sans-serif;
  }
  
  .text-purple-blue {
    color: #6a5acd; 
  }

.title {
  color:aliceblue;
}
  

  